In [1]:
import sys
from pathlib import Path

# Force notebook to recognize project root
import os
ROOT = Path(os.getcwd()).resolve().parents[0] # one level up from tests/
if str(ROOT) not in sys.path:
    sys.path.append(str(ROOT))

import pandas as pd
from src.inference_pipeline.inference import predict

# Load a few rows of already preprocessed data
sample_path = ROOT / "data/processed/cleaning_eval.csv"
df = pd.read_csv(sample_path).sample(5, random_state=42).reset_index(drop=True)

print("Input sample:")
display(df.head())

# Run inference
preds_df = predict(df)
print("Predictions returned")
display(preds_df[["predicted_price"]].head())

ðŸ“‚ Inference using project root: /Users/champagnepuppy/de-projects/Housing_Price_ML_E2E
Input sample:

,date,median_sale_price,median_list_price,median_ppsf,median_list_ppsf,homes_sold,pending_sales,new_listings,inventory,median_dom,...,Median Home Value,Total Labor Force,Unemployed Population,Total School Age Population,Total School Enrollment,Median Commute Time,price,city_full,lat,lng
0,2021-07-31,258528.0,259900.0,145.396160,140.979244,104.0,98.0,107.0,66.0,48.0,...,182900.0,10937.0,250.0,20604.0,20604.0,10007.0,255300.562038,cincinnati,39.0811,-84.4646
1,2021-08-31,457000.0,429000.0,253.164135,257.973734,82.0,95.0,117.0,126.0,71.0,...,0.0,0.0,0.0,0.0,0.0,0.0,450603.296700,new york-newark-jersey city,40.7222,-74.0225
2,2020-02-29,187250.0,202500.0,99.965760,109.198464,94.0,115.0,140.0,157.0,47.5,...,161000.0,31265.0,1746.0,52357.0,52357.0,27625.0,189474.969209,houston-pasadena-the woodlands,29.8422,-95.3855
3,2020-06-30,517500.0,539900.0,217.805198,217.108051,6.0,11.0,11.0,14.0,68.0,...,531100.0,1251.0,30.0,1991.0,1991.0,1156.0,504649.454265,baltimore-columbia-towson,39.3386,-76.5807
4,2021-07-31,749000.0,749400.0,349.226265,339.058053,113.0,112.0,140.0,60.0,18.0,...,591100.0,16826.0,681.0,31591.0,31591.0,14740.0,699558.033278,riverside-san bernardino-ontario,34.5517,-116.1297

2025-12-15 18:53:56,746 - src.feature_pipeline.preprocess - INFO - City normalization and mapping applied.
2025-12-15 18:53:56,746 - src.feature_pipeline.preprocess - INFO - Skipping lat/lng merge: already present in DataFrame.
2025-12-15 18:53:56,749 - src.feature_pipeline.preprocess - INFO - Dropped 0 duplicate rows (excluding date/year).
2025-12-15 18:53:56,749 - src.feature_pipeline.preprocess - INFO - Removed 0 rows with median_list_price > 19000000.
2025-12-15 18:53:56,753 - src.feature_pipeline.feature_engineering - INFO - Date features added.
2025-12-15 18:53:56,777 - src.feature_pipeline.feature_engineering - INFO - Unused columns dropped.
Predictions returned

   predicted_price
0    234206.921875
1    423739.625000
2    208254.984375
3    535304.937500
4    669842.500000